MYSQL_ROOT_PASSWORD=example_root_password
MYSQL_DATABASE=example_database_name
MYSQL_USER=example_username
MYSQL_PASSWORD=example_password

DB_MYSQL_HOST=db_name

NPM_IPV4_ADDRESS=192.168.x.x

TAILSCALE_OAUTH_SECRET=tskey-client-example

NPM_DATA_PATH=/path/to/npm/data/folder
